body {
  background-color: $flopspot__primary;
  font-size: 16px;
  position: relative;
  @media (min-width: 992px) {
    height: 100vh;
  }
}

.text--invisible {
  display: none;
}

.font--small {
  font-size: 1rem;
}

.font--medium {
  font-size: 1.2rem;
}

.font--big {
  font-size: 1.4rem;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  &:visited {
    color: white;
  }
  &:active {
    color: rgba(255, 255, 255, 0.6)
  }
}

.button {
  background: $flopspot__primary_dark;
  border: 0;
  padding: 10px;
  width: 100%;
  max-width: 200px;
  display: block;
  color: white;
}
