.page {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;

  @media screen and (min-width: 1024px) {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
}
