.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-top: 20px;

  .button {
    width: calc(50% - 50px);
  }
  @media screen and (min-width: 1200px) {
    justify-content: normal;
    button:first-child {
      margin-right: 15px;
    }
  }
}
