.rating {
  .train-data {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    @media (min-width: 992px) {
      margin-top: 50px;
      flex-direction: row;
      justify-content: space-between;
    }
    &__inputs {
      &:not(:first-child) {
        padding-top: 20px;
      }
      display: flex;
      flex-direction: column;
      width: 100%;
      @media (min-width: 992px) {
        &:not(:first-child) {
          padding-top: 0;
        }
        padding-top: 0;
        width: calc(33% - 20px)
      }
      input {
        padding: 5px;
      }
    }
  }
}
